@font-face {
  font-family: Arsenal;
  src: url(../fonts/Arsenal-Regular.otf);
}

body {
  padding: 0;
  padding-top:10px;
  margin:0;
  color: #000;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/background-2.jpg);
  font-family: Arsenal, Arial;
}

.main {
  width: 832px;
  height:560px;
  background-image: url(../images/ozerka-header-small.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  position:relative;
  
  .author {
    background-color: rgba(255, 255, 255, 0.7);
    color: #00c;
    padding: 3px 7px;
    border-radius: 8px;
    position: absolute;
    top: 270px;
  }
  
  &__header {
    position:absolute;
    font-size: 48px;
    padding: 0;
    margin:0;
    top: 0px;
    color: #ffb;
    text-shadow: #0a0 0 0 15px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  &__block {
    width: 380px;
    height: 250px;
    border: 1px solid #080;
    background-color: #fff;
    
    h2 {
      width:100%;
      padding: 15px 0;
      color: #fff;
      background-color: #080;
      text-align: center;
      margin-top: 0;
    }
    
    &--content {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
    
    &--column {
      width: 160px;
      height: 170px;
      overflow-y: auto;
           
      h3 {
        width:100%;
        padding: 0;
        margin: 0;
        text-align: center;
      }
      
      p {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align:right;
        
        span {
          font-weight:800;
          padding-left: 5px;
        }
        
        &.pull-left {
          text-align: left;
        }
      }
      
      select {
        width:100%;
      }
    }
  }
  
  &__charts {
    position: absolute;
    width:100%;
    height: 300px;
    top: 570px;
    border: 1px solid #080;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #fff;
  }
  
  &__selector {
    width: 100%;
    select {
      width:100%;
      background-color: #fff;
      padding: 5px 8px;
      border-color: #ccc;
      border-radius: 3px;
      
    }
  }
  
  .image {
    background-image: url(../images/set_of_fruit_and_vegetables.jpg);
    background-repeat: no-repeat;
    &--cucumber {
      background-position: 0 0;
      width: 135px;
      height: 86px;
    }
    &--carrot {
      background-position: -135px 0;
      width: 135px;
      height: 92px;
    }
    &--potato {
      background-position: -270px 0;
      width: 150px;
      height: 92px;
    }
    &--apple {
      background-position: -420px 0;
      width: 90px;
      height: 92px;
    }
    &--pepper {
      background-position: -510px 0;
      width: 90px;
      height: 92px;
    }
    &--broccoli {
      background-position: -125px -125px;
      width: 90px;
      height: 92px;
    }
    &--cabbage {
      background-position: -225px -125px;
      width: 150px;
      height: 105px;
    }
    &--onion {
      background-position: 0 -245px;
      width: 90px;
      height: 105px;
      margin-left: 20px;
    }
    &--color-cabbage {
      background-position: -100px -245px;
      width: 110px;
      height: 105px;
    }
    &--aubergine {
      background-position: -230px -370px;
      width: 130px;
      height: 115px;
    }
    &--tomato {
      background-position: -470px -380px;
      width: 130px;
      height: 115px;
    }
    &--beetroot {
      background-position: -375px -115px;
      width: 120px;
      height: 100px;
    }
  }
}